@page "/full"

<div class="container-fluid">
    <h1>BlazorIcons.Full</h1>

    <div class="row">
        <BiCell Name="BiOffice" Code="&lt;BiOffice /&gt;" IconName="office">
            <BiOffice />
        </BiCell>

        <BiCell Name="BiNewspaper" Code="&lt;BiNewspaper /&gt;" IconName="newspaper">
            <BiNewspaper />
        </BiCell>

        <BiCell Name="BiPencil" Code="&lt;BiPencil /&gt;" IconName="pencil">
            <BiPencil />
        </BiCell>

        <BiCell Name="BiPencil2" Code="&lt;BiPencil2 /&gt;" IconName="pencil2">
            <BiPencil2 />
        </BiCell>

        <BiCell Name="BiQuill" Code="&lt;BiQuill /&gt;" IconName="quill">
            <BiQuill />
        </BiCell>

        <BiCell Name="BiPen" Code="&lt;BiPen /&gt;" IconName="pen">
            <BiPen />
        </BiCell>

        <BiCell Name="BiBlog" Code="&lt;BiBlog /&gt;" IconName="blog">
            <BiBlog />
        </BiCell>

        <BiCell Name="BiEyedropper" Code="&lt;BiEyedropper /&gt;" IconName="eyedropper">
            <BiEyedropper />
        </BiCell>

        <BiCell Name="BiDroplet" Code="&lt;BiDroplet /&gt;" IconName="droplet">
            <BiDroplet />
        </BiCell>

        <BiCell Name="BiPaintFormat" Code="&lt;BiPaintFormat /&gt;" IconName="paint-format">
            <BiPaintFormat />
        </BiCell>

        <BiCell Name="BiImage" Code="&lt;BiImage /&gt;" IconName="image">
            <BiImage />
        </BiCell>

        <BiCell Name="BiImages" Code="&lt;BiImages /&gt;" IconName="images">
            <BiImages />
        </BiCell>

        <BiCell Name="BiCamera" Code="&lt;BiCamera /&gt;" IconName="camera">
            <BiCamera />
        </BiCell>

        <BiCell Name="BiHeadphones" Code="&lt;BiHeadphones /&gt;" IconName="headphones">
            <BiHeadphones />
        </BiCell>

        <BiCell Name="BiMusic" Code="&lt;BiMusic /&gt;" IconName="music">
            <BiMusic />
        </BiCell>

        <BiCell Name="BiPlay" Code="&lt;BiPlay /&gt;" IconName="play">
            <BiPlay />
        </BiCell>

        <BiCell Name="BiFilm" Code="&lt;BiFilm /&gt;" IconName="film">
            <BiFilm />
        </BiCell>

        <BiCell Name="BiVideoCamera" Code="&lt;BiVideoCamera /&gt;" IconName="video-camera">
            <BiVideoCamera />
        </BiCell>

        <BiCell Name="BiDice" Code="&lt;BiDice /&gt;" IconName="dice">
            <BiDice />
        </BiCell>

        <BiCell Name="BiPacman" Code="&lt;BiPacman /&gt;" IconName="pacman">
            <BiPacman />
        </BiCell>

        <BiCell Name="BiSpades" Code="&lt;BiSpades /&gt;" IconName="spades">
            <BiSpades />
        </BiCell>

        <BiCell Name="BiClubs" Code="&lt;BiClubs /&gt;" IconName="clubs">
            <BiClubs />
        </BiCell>

        <BiCell Name="BiDiamonds" Code="&lt;BiDiamonds /&gt;" IconName="diamonds">
            <BiDiamonds />
        </BiCell>

        <BiCell Name="BiBullhorn" Code="&lt;BiBullhorn /&gt;" IconName="bullhorn">
            <BiBullhorn />
        </BiCell>

        <BiCell Name="BiConnection" Code="&lt;BiConnection /&gt;" IconName="connection">
            <BiConnection />
        </BiCell>

        <BiCell Name="BiPodcast" Code="&lt;BiPodcast /&gt;" IconName="podcast">
            <BiPodcast />
        </BiCell>

        <BiCell Name="BiFeed" Code="&lt;BiFeed /&gt;" IconName="feed">
            <BiFeed />
        </BiCell>

        <BiCell Name="BiMic" Code="&lt;BiMic /&gt;" IconName="mic">
            <BiMic />
        </BiCell>

        <BiCell Name="BiBook" Code="&lt;BiBook /&gt;" IconName="book">
            <BiBook />
        </BiCell>

        <BiCell Name="BiBooks" Code="&lt;BiBooks /&gt;" IconName="books">
            <BiBooks />
        </BiCell>

        <BiCell Name="BiLibrary" Code="&lt;BiLibrary /&gt;" IconName="library">
            <BiLibrary />
        </BiCell>

        <BiCell Name="BiFileText" Code="&lt;BiFileText /&gt;" IconName="file-text">
            <BiFileText />
        </BiCell>

        <BiCell Name="BiProfile" Code="&lt;BiProfile /&gt;" IconName="profile">
            <BiProfile />
        </BiCell>

        <BiCell Name="BiFileEmpty" Code="&lt;BiFileEmpty /&gt;" IconName="file-empty">
            <BiFileEmpty />
        </BiCell>

        <BiCell Name="BiFilesEmpty" Code="&lt;BiFilesEmpty /&gt;" IconName="files-empty">
            <BiFilesEmpty />
        </BiCell>

        <BiCell Name="BiFileText2" Code="&lt;BiFileText2 /&gt;" IconName="file-text2">
            <BiFileText2 />
        </BiCell>

        <BiCell Name="BiFilePicture" Code="&lt;BiFilePicture /&gt;" IconName="file-picture">
            <BiFilePicture />
        </BiCell>

        <BiCell Name="BiFileMusic" Code="&lt;BiFileMusic /&gt;" IconName="file-music">
            <BiFileMusic />
        </BiCell>

        <BiCell Name="BiFilePlay" Code="&lt;BiFilePlay /&gt;" IconName="file-play">
            <BiFilePlay />
        </BiCell>

        <BiCell Name="BiFileVideo" Code="&lt;BiFileVideo /&gt;" IconName="file-video">
            <BiFileVideo />
        </BiCell>

        <BiCell Name="BiFileZip" Code="&lt;BiFileZip /&gt;" IconName="file-zip">
            <BiFileZip />
        </BiCell>

        <BiCell Name="BiCopy" Code="&lt;BiCopy /&gt;" IconName="copy">
            <BiCopy />
        </BiCell>

        <BiCell Name="BiPaste" Code="&lt;BiPaste /&gt;" IconName="paste">
            <BiPaste />
        </BiCell>

        <BiCell Name="BiStack" Code="&lt;BiStack /&gt;" IconName="stack">
            <BiStack />
        </BiCell>

        <BiCell Name="BiFolder" Code="&lt;BiFolder /&gt;" IconName="folder">
            <BiFolder />
        </BiCell>

        <BiCell Name="BiFolderOpen" Code="&lt;BiFolderOpen /&gt;" IconName="folder-open">
            <BiFolderOpen />
        </BiCell>

        <BiCell Name="BiFolderPlus" Code="&lt;BiFolderPlus /&gt;" IconName="folder-plus">
            <BiFolderPlus />
        </BiCell>

        <BiCell Name="BiFolderMinus" Code="&lt;BiFolderMinus /&gt;" IconName="folder-minus">
            <BiFolderMinus />
        </BiCell>

        <BiCell Name="BiBarcode" Code="&lt;BiBarcode /&gt;" IconName="barcode">
            <BiBarcode />
        </BiCell>

        <BiCell Name="BiQrcode" Code="&lt;BiQrcode /&gt;" IconName="qrcode">
            <BiQrcode />
        </BiCell>

        <BiCell Name="BiTicket" Code="&lt;BiTicket /&gt;" IconName="ticket">
            <BiTicket />
        </BiCell>

        <BiCell Name="BiCart" Code="&lt;BiCart /&gt;" IconName="cart">
            <BiCart />
        </BiCell>

        <BiCell Name="BiCoinDollar" Code="&lt;BiCoinDollar /&gt;" IconName="coin-dollar">
            <BiCoinDollar />
        </BiCell>

        <BiCell Name="BiCoinEuro" Code="&lt;BiCoinEuro /&gt;" IconName="coin-euro">
            <BiCoinEuro />
        </BiCell>

        <BiCell Name="BiCoinPound" Code="&lt;BiCoinPound /&gt;" IconName="coin-pound">
            <BiCoinPound />
        </BiCell>

        <BiCell Name="BiCoinYen" Code="&lt;BiCoinYen /&gt;" IconName="coin-yen">
            <BiCoinYen />
        </BiCell>

        <BiCell Name="BiCreditCard" Code="&lt;BiCreditCard /&gt;" IconName="credit-card">
            <BiCreditCard />
        </BiCell>

        <BiCell Name="BiCalculator" Code="&lt;BiCalculator /&gt;" IconName="calculator">
            <BiCalculator />
        </BiCell>

        <BiCell Name="BiLifebuoy" Code="&lt;BiLifebuoy /&gt;" IconName="lifebuoy">
            <BiLifebuoy />
        </BiCell>

        <BiCell Name="BiAddressBook" Code="&lt;BiAddressBook /&gt;" IconName="address-book">
            <BiAddressBook />
        </BiCell>

        <BiCell Name="BiEnvelop" Code="&lt;BiEnvelop /&gt;" IconName="envelop">
            <BiEnvelop />
        </BiCell>

        <BiCell Name="BiPushpin" Code="&lt;BiPushpin /&gt;" IconName="pushpin">
            <BiPushpin />
        </BiCell>

        <BiCell Name="BiLocation" Code="&lt;BiLocation /&gt;" IconName="location">
            <BiLocation />
        </BiCell>

        <BiCell Name="BiLocation2" Code="&lt;BiLocation2 /&gt;" IconName="location2">
            <BiLocation2 />
        </BiCell>

        <BiCell Name="BiCompass" Code="&lt;BiCompass /&gt;" IconName="compass">
            <BiCompass />
        </BiCell>

        <BiCell Name="BiCompass2" Code="&lt;BiCompass2 /&gt;" IconName="compass2">
            <BiCompass2 />
        </BiCell>

        <BiCell Name="BiMap" Code="&lt;BiMap /&gt;" IconName="map">
            <BiMap />
        </BiCell>

        <BiCell Name="BiMap2" Code="&lt;BiMap2 /&gt;" IconName="map2">
            <BiMap2 />
        </BiCell>

        <BiCell Name="BiHistory" Code="&lt;BiHistory /&gt;" IconName="history">
            <BiHistory />
        </BiCell>

        <BiCell Name="BiAlarm" Code="&lt;BiAlarm /&gt;" IconName="alarm">
            <BiAlarm />
        </BiCell>

        <BiCell Name="BiBell" Code="&lt;BiBell /&gt;" IconName="bell">
            <BiBell />
        </BiCell>

        <BiCell Name="BiStopwatch" Code="&lt;BiStopwatch /&gt;" IconName="stopwatch">
            <BiStopwatch />
        </BiCell>

        <BiCell Name="BiPrinter" Code="&lt;BiPrinter /&gt;" IconName="printer">
            <BiPrinter />
        </BiCell>

        <BiCell Name="BiKeyboard" Code="&lt;BiKeyboard /&gt;" IconName="keyboard">
            <BiKeyboard />
        </BiCell>

        <BiCell Name="BiDisplay" Code="&lt;BiDisplay /&gt;" IconName="display">
            <BiDisplay />
        </BiCell>

        <BiCell Name="BiLaptop" Code="&lt;BiLaptop /&gt;" IconName="laptop">
            <BiLaptop />
        </BiCell>

        <BiCell Name="BiMobile" Code="&lt;BiMobile /&gt;" IconName="mobile">
            <BiMobile />
        </BiCell>

        <BiCell Name="BiMobile2" Code="&lt;BiMobile2 /&gt;" IconName="mobile2">
            <BiMobile2 />
        </BiCell>

        <BiCell Name="BiTablet" Code="&lt;BiTablet /&gt;" IconName="tablet">
            <BiTablet />
        </BiCell>

        <BiCell Name="BiTv" Code="&lt;BiTv /&gt;" IconName="tv">
            <BiTv />
        </BiCell>

        <BiCell Name="BiDrawer" Code="&lt;BiDrawer /&gt;" IconName="drawer">
            <BiDrawer />
        </BiCell>

        <BiCell Name="BiDrawer2" Code="&lt;BiDrawer2 /&gt;" IconName="drawer2">
            <BiDrawer2 />
        </BiCell>

        <BiCell Name="BiBoxAdd" Code="&lt;BiBoxAdd /&gt;" IconName="box-add">
            <BiBoxAdd />
        </BiCell>

        <BiCell Name="BiBoxRemove" Code="&lt;BiBoxRemove /&gt;" IconName="box-remove">
            <BiBoxRemove />
        </BiCell>

        <BiCell Name="BiFloppyDisk" Code="&lt;BiFloppyDisk /&gt;" IconName="floppy-disk">
            <BiFloppyDisk />
        </BiCell>

        <BiCell Name="BiDrive" Code="&lt;BiDrive /&gt;" IconName="drive">
            <BiDrive />
        </BiCell>

        <BiCell Name="BiDatabase" Code="&lt;BiDatabase /&gt;" IconName="database">
            <BiDatabase />
        </BiCell>

        <BiCell Name="BiUndo" Code="&lt;BiUndo /&gt;" IconName="undo">
            <BiUndo />
        </BiCell>

        <BiCell Name="BiRedo" Code="&lt;BiRedo /&gt;" IconName="redo">
            <BiRedo />
        </BiCell>

        <BiCell Name="BiUndo2" Code="&lt;BiUndo2 /&gt;" IconName="undo2">
            <BiUndo2 />
        </BiCell>

        <BiCell Name="BiRedo2" Code="&lt;BiRedo2 /&gt;" IconName="redo2">
            <BiRedo2 />
        </BiCell>

        <BiCell Name="BiForward" Code="&lt;BiForward /&gt;" IconName="forward">
            <BiForward />
        </BiCell>

        <BiCell Name="BiReply" Code="&lt;BiReply /&gt;" IconName="reply">
            <BiReply />
        </BiCell>

        <BiCell Name="BiBubble" Code="&lt;BiBubble /&gt;" IconName="bubble">
            <BiBubble />
        </BiCell>

        <BiCell Name="BiBubbles" Code="&lt;BiBubbles /&gt;" IconName="bubbles">
            <BiBubbles />
        </BiCell>

        <BiCell Name="BiBubbles2" Code="&lt;BiBubbles2 /&gt;" IconName="bubbles2">
            <BiBubbles2 />
        </BiCell>

        <BiCell Name="BiBubble2" Code="&lt;BiBubble2 /&gt;" IconName="bubble2">
            <BiBubble2 />
        </BiCell>

        <BiCell Name="BiBubbles3" Code="&lt;BiBubbles3 /&gt;" IconName="bubbles3">
            <BiBubbles3 />
        </BiCell>

        <BiCell Name="BiBubbles4" Code="&lt;BiBubbles4 /&gt;" IconName="bubbles4">
            <BiBubbles4 />
        </BiCell>

        <BiCell Name="BiQuotesLeft" Code="&lt;BiQuotesLeft /&gt;" IconName="quotes-left">
            <BiQuotesLeft />
        </BiCell>

        <BiCell Name="BiQuotesRight" Code="&lt;BiQuotesRight /&gt;" IconName="quotes-right">
            <BiQuotesRight />
        </BiCell>

        <BiCell Name="BiHourGlass" Code="&lt;BiHourGlass /&gt;" IconName="hour-glass">
            <BiHourGlass />
        </BiCell>

        <BiCell Name="BiBinoculars" Code="&lt;BiBinoculars /&gt;" IconName="binoculars">
            <BiBinoculars />
        </BiCell>

        <BiCell Name="BiZoomIn" Code="&lt;BiZoomIn /&gt;" IconName="zoom-in">
            <BiZoomIn />
        </BiCell>

        <BiCell Name="BiZoomOut" Code="&lt;BiZoomOut /&gt;" IconName="zoom-out">
            <BiZoomOut />
        </BiCell>

        <BiCell Name="BiEnlarge" Code="&lt;BiEnlarge /&gt;" IconName="enlarge">
            <BiEnlarge />
        </BiCell>

        <BiCell Name="BiShrink" Code="&lt;BiShrink /&gt;" IconName="shrink">
            <BiShrink />
        </BiCell>

        <BiCell Name="BiEnlarge2" Code="&lt;BiEnlarge2 /&gt;" IconName="enlarge2">
            <BiEnlarge2 />
        </BiCell>

        <BiCell Name="BiShrink2" Code="&lt;BiShrink2 /&gt;" IconName="shrink2">
            <BiShrink2 />
        </BiCell>

        <BiCell Name="BiLock" Code="&lt;BiLock /&gt;" IconName="lock">
            <BiLock />
        </BiCell>

        <BiCell Name="BiWrench" Code="&lt;BiWrench /&gt;" IconName="wrench">
            <BiWrench />
        </BiCell>

        <BiCell Name="BiEqualizer" Code="&lt;BiEqualizer /&gt;" IconName="equalizer">
            <BiEqualizer />
        </BiCell>

        <BiCell Name="BiEqualizer2" Code="&lt;BiEqualizer2 /&gt;" IconName="equalizer2">
            <BiEqualizer2 />
        </BiCell>

        <BiCell Name="BiCog" Code="&lt;BiCog /&gt;" IconName="cog">
            <BiCog />
        </BiCell>

        <BiCell Name="BiCogs" Code="&lt;BiCogs /&gt;" IconName="cogs">
            <BiCogs />
        </BiCell>

        <BiCell Name="BiHammer" Code="&lt;BiHammer /&gt;" IconName="hammer">
            <BiHammer />
        </BiCell>

        <BiCell Name="BiMagicWand" Code="&lt;BiMagicWand /&gt;" IconName="magic-wand">
            <BiMagicWand />
        </BiCell>

        <BiCell Name="BiAidKit" Code="&lt;BiAidKit /&gt;" IconName="aid-kit">
            <BiAidKit />
        </BiCell>

        <BiCell Name="BiBug" Code="&lt;BiBug /&gt;" IconName="bug">
            <BiBug />
        </BiCell>

        <BiCell Name="BiPieChart" Code="&lt;BiPieChart /&gt;" IconName="pie-chart">
            <BiPieChart />
        </BiCell>

        <BiCell Name="BiStatsDots" Code="&lt;BiStatsDots /&gt;" IconName="stats-dots">
            <BiStatsDots />
        </BiCell>

        <BiCell Name="BiStatsBars" Code="&lt;BiStatsBars /&gt;" IconName="stats-bars">
            <BiStatsBars />
        </BiCell>

        <BiCell Name="BiStatsBars2" Code="&lt;BiStatsBars2 /&gt;" IconName="stats-bars2">
            <BiStatsBars2 />
        </BiCell>

        <BiCell Name="BiTrophy" Code="&lt;BiTrophy /&gt;" IconName="trophy">
            <BiTrophy />
        </BiCell>

        <BiCell Name="BiGift" Code="&lt;BiGift /&gt;" IconName="gift">
            <BiGift />
        </BiCell>

        <BiCell Name="BiGlass" Code="&lt;BiGlass /&gt;" IconName="glass">
            <BiGlass />
        </BiCell>

        <BiCell Name="BiGlass2" Code="&lt;BiGlass2 /&gt;" IconName="glass2">
            <BiGlass2 />
        </BiCell>

        <BiCell Name="BiMug" Code="&lt;BiMug /&gt;" IconName="mug">
            <BiMug />
        </BiCell>

        <BiCell Name="BiSpoonKnife" Code="&lt;BiSpoonKnife /&gt;" IconName="spoon-knife">
            <BiSpoonKnife />
        </BiCell>

        <BiCell Name="BiLeaf" Code="&lt;BiLeaf /&gt;" IconName="leaf">
            <BiLeaf />
        </BiCell>

        <BiCell Name="BiRocket" Code="&lt;BiRocket /&gt;" IconName="rocket">
            <BiRocket />
        </BiCell>

        <BiCell Name="BiMeter" Code="&lt;BiMeter /&gt;" IconName="meter">
            <BiMeter />
        </BiCell>

        <BiCell Name="BiMeter2" Code="&lt;BiMeter2 /&gt;" IconName="meter2">
            <BiMeter2 />
        </BiCell>

        <BiCell Name="BiHammer2" Code="&lt;BiHammer2 /&gt;" IconName="hammer2">
            <BiHammer2 />
        </BiCell>

        <BiCell Name="BiFire" Code="&lt;BiFire /&gt;" IconName="fire">
            <BiFire />
        </BiCell>

        <BiCell Name="BiLab" Code="&lt;BiLab /&gt;" IconName="lab">
            <BiLab />
        </BiCell>

        <BiCell Name="BiMagnet" Code="&lt;BiMagnet /&gt;" IconName="magnet">
            <BiMagnet />
        </BiCell>

        <BiCell Name="BiBriefcase" Code="&lt;BiBriefcase /&gt;" IconName="briefcase">
            <BiBriefcase />
        </BiCell>

        <BiCell Name="BiAirplane" Code="&lt;BiAirplane /&gt;" IconName="airplane">
            <BiAirplane />
        </BiCell>

        <BiCell Name="BiTruck" Code="&lt;BiTruck /&gt;" IconName="truck">
            <BiTruck />
        </BiCell>

        <BiCell Name="BiRoad" Code="&lt;BiRoad /&gt;" IconName="road">
            <BiRoad />
        </BiCell>

        <BiCell Name="BiAccessibility" Code="&lt;BiAccessibility /&gt;" IconName="accessibility">
            <BiAccessibility />
        </BiCell>

        <BiCell Name="BiTarget" Code="&lt;BiTarget /&gt;" IconName="target">
            <BiTarget />
        </BiCell>

        <BiCell Name="BiShield" Code="&lt;BiShield /&gt;" IconName="shield">
            <BiShield />
        </BiCell>

        <BiCell Name="BiPower" Code="&lt;BiPower /&gt;" IconName="power">
            <BiPower />
        </BiCell>

        <BiCell Name="BiSwitch" Code="&lt;BiSwitch /&gt;" IconName="switch">
            <BiSwitch />
        </BiCell>

        <BiCell Name="BiPowerCord" Code="&lt;BiPowerCord /&gt;" IconName="power-cord">
            <BiPowerCord />
        </BiCell>

        <BiCell Name="BiClipboard" Code="&lt;BiClipboard /&gt;" IconName="clipboard">
            <BiClipboard />
        </BiCell>

        <BiCell Name="BiListNumbered" Code="&lt;BiListNumbered /&gt;" IconName="list-numbered">
            <BiListNumbered />
        </BiCell>

        <BiCell Name="BiList" Code="&lt;BiList /&gt;" IconName="list">
            <BiList />
        </BiCell>

        <BiCell Name="BiList2" Code="&lt;BiList2 /&gt;" IconName="list2">
            <BiList2 />
        </BiCell>

        <BiCell Name="BiTree" Code="&lt;BiTree /&gt;" IconName="tree">
            <BiTree />
        </BiCell>

        <BiCell Name="BiCloud" Code="&lt;BiCloud /&gt;" IconName="cloud">
            <BiCloud />
        </BiCell>

        <BiCell Name="BiCloudCheck" Code="&lt;BiCloudCheck /&gt;" IconName="cloud-check">
            <BiCloudCheck />
        </BiCell>

        <BiCell Name="BiSphere" Code="&lt;BiSphere /&gt;" IconName="sphere">
            <BiSphere />
        </BiCell>

        <BiCell Name="BiEarth" Code="&lt;BiEarth /&gt;" IconName="earth">
            <BiEarth />
        </BiCell>

        <BiCell Name="BiLink" Code="&lt;BiLink /&gt;" IconName="link">
            <BiLink />
        </BiCell>

        <BiCell Name="BiFlag" Code="&lt;BiFlag /&gt;" IconName="flag">
            <BiFlag />
        </BiCell>

        <BiCell Name="BiAttachment" Code="&lt;BiAttachment /&gt;" IconName="attachment">
            <BiAttachment />
        </BiCell>

        <BiCell Name="BiEye" Code="&lt;BiEye /&gt;" IconName="eye">
            <BiEye />
        </BiCell>

        <BiCell Name="BiEyePlus" Code="&lt;BiEyePlus /&gt;" IconName="eye-plus">
            <BiEyePlus />
        </BiCell>

        <BiCell Name="BiEyeMinus" Code="&lt;BiEyeMinus /&gt;" IconName="eye-minus">
            <BiEyeMinus />
        </BiCell>

        <BiCell Name="BiEyeBlocked" Code="&lt;BiEyeBlocked /&gt;" IconName="eye-blocked">
            <BiEyeBlocked />
        </BiCell>

        <BiCell Name="BiSun" Code="&lt;BiSun /&gt;" IconName="sun">
            <BiSun />
        </BiCell>

        <BiCell Name="BiContrast" Code="&lt;BiContrast /&gt;" IconName="contrast">
            <BiContrast />
        </BiCell>

        <BiCell Name="BiBrightnessContrast" Code="&lt;BiBrightnessContrast /&gt;" IconName="brightness-contrast">
            <BiBrightnessContrast />
        </BiCell>

        <BiCell Name="BiStarEmpty" Code="&lt;BiStarEmpty /&gt;" IconName="star-empty">
            <BiStarEmpty />
        </BiCell>

        <BiCell Name="BiStarHalf" Code="&lt;BiStarHalf /&gt;" IconName="star-half">
            <BiStarHalf />
        </BiCell>

        <BiCell Name="BiStarFull" Code="&lt;BiStarFull /&gt;" IconName="star-full">
            <BiStarFull />
        </BiCell>

        <BiCell Name="BiHeart" Code="&lt;BiHeart /&gt;" IconName="heart">
            <BiHeart />
        </BiCell>

        <BiCell Name="BiHeartBroken" Code="&lt;BiHeartBroken /&gt;" IconName="heart-broken">
            <BiHeartBroken />
        </BiCell>

        <BiCell Name="BiMan" Code="&lt;BiMan /&gt;" IconName="man">
            <BiMan />
        </BiCell>

        <BiCell Name="BiWoman" Code="&lt;BiWoman /&gt;" IconName="woman">
            <BiWoman />
        </BiCell>

        <BiCell Name="BiManWoman" Code="&lt;BiManWoman /&gt;" IconName="man-woman">
            <BiManWoman />
        </BiCell>

        <BiCell Name="BiHappy" Code="&lt;BiHappy /&gt;" IconName="happy">
            <BiHappy />
        </BiCell>

        <BiCell Name="BiHappy2" Code="&lt;BiHappy2 /&gt;" IconName="happy2">
            <BiHappy2 />
        </BiCell>

        <BiCell Name="BiSmile" Code="&lt;BiSmile /&gt;" IconName="smile">
            <BiSmile />
        </BiCell>

        <BiCell Name="BiSmile2" Code="&lt;BiSmile2 /&gt;" IconName="smile2">
            <BiSmile2 />
        </BiCell>

        <BiCell Name="BiTongue" Code="&lt;BiTongue /&gt;" IconName="tongue">
            <BiTongue />
        </BiCell>

        <BiCell Name="BiTongue2" Code="&lt;BiTongue2 /&gt;" IconName="tongue2">
            <BiTongue2 />
        </BiCell>

        <BiCell Name="BiSad" Code="&lt;BiSad /&gt;" IconName="sad">
            <BiSad />
        </BiCell>

        <BiCell Name="BiSad2" Code="&lt;BiSad2 /&gt;" IconName="sad2">
            <BiSad2 />
        </BiCell>

        <BiCell Name="BiWink" Code="&lt;BiWink /&gt;" IconName="wink">
            <BiWink />
        </BiCell>

        <BiCell Name="BiWink2" Code="&lt;BiWink2 /&gt;" IconName="wink2">
            <BiWink2 />
        </BiCell>

        <BiCell Name="BiGrin" Code="&lt;BiGrin /&gt;" IconName="grin">
            <BiGrin />
        </BiCell>

        <BiCell Name="BiGrin2" Code="&lt;BiGrin2 /&gt;" IconName="grin2">
            <BiGrin2 />
        </BiCell>

        <BiCell Name="BiCool" Code="&lt;BiCool /&gt;" IconName="cool">
            <BiCool />
        </BiCell>

        <BiCell Name="BiCool2" Code="&lt;BiCool2 /&gt;" IconName="cool2">
            <BiCool2 />
        </BiCell>

        <BiCell Name="BiAngry" Code="&lt;BiAngry /&gt;" IconName="angry">
            <BiAngry />
        </BiCell>

        <BiCell Name="BiAngry2" Code="&lt;BiAngry2 /&gt;" IconName="angry2">
            <BiAngry2 />
        </BiCell>

        <BiCell Name="BiEvil" Code="&lt;BiEvil /&gt;" IconName="evil">
            <BiEvil />
        </BiCell>

        <BiCell Name="BiEvil2" Code="&lt;BiEvil2 /&gt;" IconName="evil2">
            <BiEvil2 />
        </BiCell>

        <BiCell Name="BiShocked" Code="&lt;BiShocked /&gt;" IconName="shocked">
            <BiShocked />
        </BiCell>

        <BiCell Name="BiShocked2" Code="&lt;BiShocked2 /&gt;" IconName="shocked2">
            <BiShocked2 />
        </BiCell>

        <BiCell Name="BiBaffled" Code="&lt;BiBaffled /&gt;" IconName="baffled">
            <BiBaffled />
        </BiCell>

        <BiCell Name="BiBaffled2" Code="&lt;BiBaffled2 /&gt;" IconName="baffled2">
            <BiBaffled2 />
        </BiCell>

        <BiCell Name="BiConfused" Code="&lt;BiConfused /&gt;" IconName="confused">
            <BiConfused />
        </BiCell>

        <BiCell Name="BiConfused2" Code="&lt;BiConfused2 /&gt;" IconName="confused2">
            <BiConfused2 />
        </BiCell>

        <BiCell Name="BiNeutral" Code="&lt;BiNeutral /&gt;" IconName="neutral">
            <BiNeutral />
        </BiCell>

        <BiCell Name="BiNeutral2" Code="&lt;BiNeutral2 /&gt;" IconName="neutral2">
            <BiNeutral2 />
        </BiCell>

        <BiCell Name="BiHipster" Code="&lt;BiHipster /&gt;" IconName="hipster">
            <BiHipster />
        </BiCell>

        <BiCell Name="BiHipster2" Code="&lt;BiHipster2 /&gt;" IconName="hipster2">
            <BiHipster2 />
        </BiCell>

        <BiCell Name="BiWondering" Code="&lt;BiWondering /&gt;" IconName="wondering">
            <BiWondering />
        </BiCell>

        <BiCell Name="BiWondering2" Code="&lt;BiWondering2 /&gt;" IconName="wondering2">
            <BiWondering2 />
        </BiCell>

        <BiCell Name="BiSleepy" Code="&lt;BiSleepy /&gt;" IconName="sleepy">
            <BiSleepy />
        </BiCell>

        <BiCell Name="BiSleepy2" Code="&lt;BiSleepy2 /&gt;" IconName="sleepy2">
            <BiSleepy2 />
        </BiCell>

        <BiCell Name="BiFrustrated" Code="&lt;BiFrustrated /&gt;" IconName="frustrated">
            <BiFrustrated />
        </BiCell>

        <BiCell Name="BiFrustrated2" Code="&lt;BiFrustrated2 /&gt;" IconName="frustrated2">
            <BiFrustrated2 />
        </BiCell>

        <BiCell Name="BiCrying" Code="&lt;BiCrying /&gt;" IconName="crying">
            <BiCrying />
        </BiCell>

        <BiCell Name="BiCrying2" Code="&lt;BiCrying2 /&gt;" IconName="crying2">
            <BiCrying2 />
        </BiCell>

        <BiCell Name="BiPointUp" Code="&lt;BiPointUp /&gt;" IconName="point-up">
            <BiPointUp />
        </BiCell>

        <BiCell Name="BiPointRight" Code="&lt;BiPointRight /&gt;" IconName="point-right">
            <BiPointRight />
        </BiCell>

        <BiCell Name="BiPointDown" Code="&lt;BiPointDown /&gt;" IconName="point-down">
            <BiPointDown />
        </BiCell>

        <BiCell Name="BiPointLeft" Code="&lt;BiPointLeft /&gt;" IconName="point-left">
            <BiPointLeft />
        </BiCell>

        <BiCell Name="BiWarning" Code="&lt;BiWarning /&gt;" IconName="warning">
            <BiWarning />
        </BiCell>

        <BiCell Name="BiNotification" Code="&lt;BiNotification /&gt;" IconName="notification">
            <BiNotification />
        </BiCell>

        <BiCell Name="BiQuestion" Code="&lt;BiQuestion /&gt;" IconName="question">
            <BiQuestion />
        </BiCell>

        <BiCell Name="BiPlus" Code="&lt;BiPlus /&gt;" IconName="plus">
            <BiPlus />
        </BiCell>

        <BiCell Name="BiSpellCheck" Code="&lt;BiSpellCheck /&gt;" IconName="spell-check">
            <BiSpellCheck />
        </BiCell>

        <BiCell Name="BiEnter" Code="&lt;BiEnter /&gt;" IconName="enter">
            <BiEnter />
        </BiCell>

        <BiCell Name="BiExit" Code="&lt;BiExit /&gt;" IconName="exit">
            <BiExit />
        </BiCell>

        <BiCell Name="BiPlay2" Code="&lt;BiPlay2 /&gt;" IconName="play2">
            <BiPlay2 />
        </BiCell>

        <BiCell Name="BiPause" Code="&lt;BiPause /&gt;" IconName="pause">
            <BiPause />
        </BiCell>

        <BiCell Name="BiStop" Code="&lt;BiStop /&gt;" IconName="stop">
            <BiStop />
        </BiCell>

        <BiCell Name="BiBackward" Code="&lt;BiBackward /&gt;" IconName="backward">
            <BiBackward />
        </BiCell>

        <BiCell Name="BiForward2" Code="&lt;BiForward2 /&gt;" IconName="forward2">
            <BiForward2 />
        </BiCell>

        <BiCell Name="BiPlay3" Code="&lt;BiPlay3 /&gt;" IconName="play3">
            <BiPlay3 />
        </BiCell>

        <BiCell Name="BiPause2" Code="&lt;BiPause2 /&gt;" IconName="pause2">
            <BiPause2 />
        </BiCell>

        <BiCell Name="BiStop2" Code="&lt;BiStop2 /&gt;" IconName="stop2">
            <BiStop2 />
        </BiCell>

        <BiCell Name="BiBackward2" Code="&lt;BiBackward2 /&gt;" IconName="backward2">
            <BiBackward2 />
        </BiCell>

        <BiCell Name="BiForward3" Code="&lt;BiForward3 /&gt;" IconName="forward3">
            <BiForward3 />
        </BiCell>

        <BiCell Name="BiFirst" Code="&lt;BiFirst /&gt;" IconName="first">
            <BiFirst />
        </BiCell>

        <BiCell Name="BiLast" Code="&lt;BiLast /&gt;" IconName="last">
            <BiLast />
        </BiCell>

        <BiCell Name="BiEject" Code="&lt;BiEject /&gt;" IconName="eject">
            <BiEject />
        </BiCell>

        <BiCell Name="BiVolumeHigh" Code="&lt;BiVolumeHigh /&gt;" IconName="volume-high">
            <BiVolumeHigh />
        </BiCell>

        <BiCell Name="BiVolumeMedium" Code="&lt;BiVolumeMedium /&gt;" IconName="volume-medium">
            <BiVolumeMedium />
        </BiCell>

        <BiCell Name="BiVolumeLow" Code="&lt;BiVolumeLow /&gt;" IconName="volume-low">
            <BiVolumeLow />
        </BiCell>

        <BiCell Name="BiVolumeMute" Code="&lt;BiVolumeMute /&gt;" IconName="volume-mute">
            <BiVolumeMute />
        </BiCell>

        <BiCell Name="BiVolumeMute2" Code="&lt;BiVolumeMute2 /&gt;" IconName="volume-mute2">
            <BiVolumeMute2 />
        </BiCell>

        <BiCell Name="BiVolumeIncrease" Code="&lt;BiVolumeIncrease /&gt;" IconName="volume-increase">
            <BiVolumeIncrease />
        </BiCell>

        <BiCell Name="BiVolumeDecrease" Code="&lt;BiVolumeDecrease /&gt;" IconName="volume-decrease">
            <BiVolumeDecrease />
        </BiCell>

        <BiCell Name="BiLoop" Code="&lt;BiLoop /&gt;" IconName="loop">
            <BiLoop />
        </BiCell>

        <BiCell Name="BiLoop2" Code="&lt;BiLoop2 /&gt;" IconName="loop2">
            <BiLoop2 />
        </BiCell>

        <BiCell Name="BiInfinite" Code="&lt;BiInfinite /&gt;" IconName="infinite">
            <BiInfinite />
        </BiCell>

        <BiCell Name="BiShuffle" Code="&lt;BiShuffle /&gt;" IconName="shuffle">
            <BiShuffle />
        </BiCell>

        <BiCell Name="BiTab" Code="&lt;BiTab /&gt;" IconName="tab">
            <BiTab />
        </BiCell>

        <BiCell Name="BiMoveUp" Code="&lt;BiMoveUp /&gt;" IconName="move-up">
            <BiMoveUp />
        </BiCell>

        <BiCell Name="BiMoveDown" Code="&lt;BiMoveDown /&gt;" IconName="move-down">
            <BiMoveDown />
        </BiCell>

        <BiCell Name="BiCommand" Code="&lt;BiCommand /&gt;" IconName="command">
            <BiCommand />
        </BiCell>

        <BiCell Name="BiShift" Code="&lt;BiShift /&gt;" IconName="shift">
            <BiShift />
        </BiCell>

        <BiCell Name="BiCtrl" Code="&lt;BiCtrl /&gt;" IconName="ctrl">
            <BiCtrl />
        </BiCell>

        <BiCell Name="BiOpt" Code="&lt;BiOpt /&gt;" IconName="opt">
            <BiOpt />
        </BiCell>

        <BiCell Name="BiCheckboxChecked" Code="&lt;BiCheckboxChecked /&gt;" IconName="checkbox-checked">
            <BiCheckboxChecked />
        </BiCell>

        <BiCell Name="BiCheckboxUnchecked" Code="&lt;BiCheckboxUnchecked /&gt;" IconName="checkbox-unchecked">
            <BiCheckboxUnchecked />
        </BiCell>

        <BiCell Name="BiRadioChecked" Code="&lt;BiRadioChecked /&gt;" IconName="radio-checked">
            <BiRadioChecked />
        </BiCell>

        <BiCell Name="BiRadioChecked2" Code="&lt;BiRadioChecked2 /&gt;" IconName="radio-checked2">
            <BiRadioChecked2 />
        </BiCell>

        <BiCell Name="BiRadioUnchecked" Code="&lt;BiRadioUnchecked /&gt;" IconName="radio-unchecked">
            <BiRadioUnchecked />
        </BiCell>

        <BiCell Name="BiCrop" Code="&lt;BiCrop /&gt;" IconName="crop">
            <BiCrop />
        </BiCell>

        <BiCell Name="BiMakeGroup" Code="&lt;BiMakeGroup /&gt;" IconName="make-group">
            <BiMakeGroup />
        </BiCell>

        <BiCell Name="BiUngroup" Code="&lt;BiUngroup /&gt;" IconName="ungroup">
            <BiUngroup />
        </BiCell>

        <BiCell Name="BiScissors" Code="&lt;BiScissors /&gt;" IconName="scissors">
            <BiScissors />
        </BiCell>

        <BiCell Name="BiFilter" Code="&lt;BiFilter /&gt;" IconName="filter">
            <BiFilter />
        </BiCell>

        <BiCell Name="BiFont" Code="&lt;BiFont /&gt;" IconName="font">
            <BiFont />
        </BiCell>

        <BiCell Name="BiLigature" Code="&lt;BiLigature /&gt;" IconName="ligature">
            <BiLigature />
        </BiCell>

        <BiCell Name="BiLigature2" Code="&lt;BiLigature2 /&gt;" IconName="ligature2">
            <BiLigature2 />
        </BiCell>

        <BiCell Name="BiTextHeight" Code="&lt;BiTextHeight /&gt;" IconName="text-height">
            <BiTextHeight />
        </BiCell>

        <BiCell Name="BiTextWidth" Code="&lt;BiTextWidth /&gt;" IconName="text-width">
            <BiTextWidth />
        </BiCell>

        <BiCell Name="BiFontSize" Code="&lt;BiFontSize /&gt;" IconName="font-size">
            <BiFontSize />
        </BiCell>

        <BiCell Name="BiBold" Code="&lt;BiBold /&gt;" IconName="bold">
            <BiBold />
        </BiCell>

        <BiCell Name="BiUnderline" Code="&lt;BiUnderline /&gt;" IconName="underline">
            <BiUnderline />
        </BiCell>

        <BiCell Name="BiItalic" Code="&lt;BiItalic /&gt;" IconName="italic">
            <BiItalic />
        </BiCell>

        <BiCell Name="BiStrikethrough" Code="&lt;BiStrikethrough /&gt;" IconName="strikethrough">
            <BiStrikethrough />
        </BiCell>

        <BiCell Name="BiOmega" Code="&lt;BiOmega /&gt;" IconName="omega">
            <BiOmega />
        </BiCell>

        <BiCell Name="BiSigma" Code="&lt;BiSigma /&gt;" IconName="sigma">
            <BiSigma />
        </BiCell>

        <BiCell Name="BiPageBreak" Code="&lt;BiPageBreak /&gt;" IconName="page-break">
            <BiPageBreak />
        </BiCell>

        <BiCell Name="BiSuperscript" Code="&lt;BiSuperscript /&gt;" IconName="superscript">
            <BiSuperscript />
        </BiCell>

        <BiCell Name="BiSubscript" Code="&lt;BiSubscript /&gt;" IconName="subscript">
            <BiSubscript />
        </BiCell>

        <BiCell Name="BiSuperscript2" Code="&lt;BiSuperscript2 /&gt;" IconName="superscript2">
            <BiSuperscript2 />
        </BiCell>

        <BiCell Name="BiSubscript2" Code="&lt;BiSubscript2 /&gt;" IconName="subscript2">
            <BiSubscript2 />
        </BiCell>

        <BiCell Name="BiTextColor" Code="&lt;BiTextColor /&gt;" IconName="text-color">
            <BiTextColor />
        </BiCell>

        <BiCell Name="BiPageBreak" Code="&lt;BiPageBreak /&gt;" IconName="pagebreak">
            <BiPageBreak />
        </BiCell>

        <BiCell Name="BiClearFormatting" Code="&lt;BiClearFormatting /&gt;" IconName="clear-formatting">
            <BiClearFormatting />
        </BiCell>

        <BiCell Name="BiTable" Code="&lt;BiTable /&gt;" IconName="table">
            <BiTable />
        </BiCell>

        <BiCell Name="BiTable2" Code="&lt;BiTable2 /&gt;" IconName="table2">
            <BiTable2 />
        </BiCell>

        <BiCell Name="BiInsertTemplate" Code="&lt;BiInsertTemplate /&gt;" IconName="insert-template">
            <BiInsertTemplate />
        </BiCell>

        <BiCell Name="BiPilcrow" Code="&lt;BiPilcrow /&gt;" IconName="pilcrow">
            <BiPilcrow />
        </BiCell>

        <BiCell Name="BiLtr" Code="&lt;BiLtr /&gt;" IconName="ltr">
            <BiLtr />
        </BiCell>

        <BiCell Name="BiRtl" Code="&lt;BiRtl /&gt;" IconName="rtl">
            <BiRtl />
        </BiCell>

        <BiCell Name="BiSection" Code="&lt;BiSection /&gt;" IconName="section">
            <BiSection />
        </BiCell>

        <BiCell Name="BiParagraphLeft" Code="&lt;BiParagraphLeft /&gt;" IconName="paragraph-left">
            <BiParagraphLeft />
        </BiCell>

        <BiCell Name="BiParagraphCenter" Code="&lt;BiParagraphCenter /&gt;" IconName="paragraph-center">
            <BiParagraphCenter />
        </BiCell>

        <BiCell Name="BiParagraphRight" Code="&lt;BiParagraphRight /&gt;" IconName="paragraph-right">
            <BiParagraphRight />
        </BiCell>

        <BiCell Name="BiParagraphJustify" Code="&lt;BiParagraphJustify /&gt;" IconName="paragraph-justify">
            <BiParagraphJustify />
        </BiCell>

        <BiCell Name="BiIndentIncrease" Code="&lt;BiIndentIncrease /&gt;" IconName="indent-increase">
            <BiIndentIncrease />
        </BiCell>

        <BiCell Name="BiIndentDecrease" Code="&lt;BiIndentDecrease /&gt;" IconName="indent-decrease">
            <BiIndentDecrease />
        </BiCell>

        <BiCell Name="BiShare" Code="&lt;BiShare /&gt;" IconName="share">
            <BiShare />
        </BiCell>

        <BiCell Name="BiNewTab" Code="&lt;BiNewTab /&gt;" IconName="new-tab">
            <BiNewTab />
        </BiCell>

        <BiCell Name="BiEmbed" Code="&lt;BiEmbed /&gt;" IconName="embed">
            <BiEmbed />
        </BiCell>

        <BiCell Name="BiEmbed2" Code="&lt;BiEmbed2 /&gt;" IconName="embed2">
            <BiEmbed2 />
        </BiCell>

        <BiCell Name="BiTerminal" Code="&lt;BiTerminal /&gt;" IconName="terminal">
            <BiTerminal />
        </BiCell>

        <BiCell Name="BiShare2" Code="&lt;BiShare2 /&gt;" IconName="share2">
            <BiShare2 />
        </BiCell>

        <BiCell Name="BiAmazon" Code="&lt;BiAmazon /&gt;" IconName="amazon">
            <BiAmazon />
        </BiCell>

        <BiCell Name="BiGoogle" Code="&lt;BiGoogle /&gt;" IconName="google">
            <BiGoogle />
        </BiCell>

        <BiCell Name="BiGoogle2" Code="&lt;BiGoogle2 /&gt;" IconName="google2">
            <BiGoogle2 />
        </BiCell>

        <BiCell Name="BiGoogle3" Code="&lt;BiGoogle3 /&gt;" IconName="google3">
            <BiGoogle3 />
        </BiCell>

        <BiCell Name="BiGooglePlus" Code="&lt;BiGooglePlus /&gt;" IconName="google-plus">
            <BiGooglePlus />
        </BiCell>

        <BiCell Name="BiGooglePlus2" Code="&lt;BiGooglePlus2 /&gt;" IconName="google-plus2">
            <BiGooglePlus2 />
        </BiCell>

        <BiCell Name="BiGooglePlus3" Code="&lt;BiGooglePlus3 /&gt;" IconName="google-plus3">
            <BiGooglePlus3 />
        </BiCell>

        <BiCell Name="BiHangouts" Code="&lt;BiHangouts /&gt;" IconName="hangouts">
            <BiHangouts />
        </BiCell>

        <BiCell Name="BiGoogleDrive" Code="&lt;BiGoogleDrive /&gt;" IconName="google-drive">
            <BiGoogleDrive />
        </BiCell>

        <BiCell Name="BiFacebook" Code="&lt;BiFacebook /&gt;" IconName="facebook">
            <BiFacebook />
        </BiCell>

        <BiCell Name="BiFacebook2" Code="&lt;BiFacebook2 /&gt;" IconName="facebook2">
            <BiFacebook2 />
        </BiCell>

        <BiCell Name="BiInstagram" Code="&lt;BiInstagram /&gt;" IconName="instagram">
            <BiInstagram />
        </BiCell>

        <BiCell Name="BiWhatsapp" Code="&lt;BiWhatsapp /&gt;" IconName="whatsapp">
            <BiWhatsapp />
        </BiCell>

        <BiCell Name="BiSpotify" Code="&lt;BiSpotify /&gt;" IconName="spotify">
            <BiSpotify />
        </BiCell>

        <BiCell Name="BiTelegram" Code="&lt;BiTelegram /&gt;" IconName="telegram">
            <BiTelegram />
        </BiCell>

        <BiCell Name="BiTwitter" Code="&lt;BiTwitter /&gt;" IconName="twitter">
            <BiTwitter />
        </BiCell>

        <BiCell Name="BiVine" Code="&lt;BiVine /&gt;" IconName="vine">
            <BiVine />
        </BiCell>

        <BiCell Name="BiVk" Code="&lt;BiVk /&gt;" IconName="vk">
            <BiVk />
        </BiCell>

        <BiCell Name="BiRenren" Code="&lt;BiRenren /&gt;" IconName="renren">
            <BiRenren />
        </BiCell>

        <BiCell Name="BiSinaWeibo" Code="&lt;BiSinaWeibo /&gt;" IconName="sina-weibo">
            <BiSinaWeibo />
        </BiCell>

        <BiCell Name="BiRss" Code="&lt;BiRss /&gt;" IconName="rss">
            <BiRss />
        </BiCell>

        <BiCell Name="BiRss2" Code="&lt;BiRss2 /&gt;" IconName="rss2">
            <BiRss2 />
        </BiCell>

        <BiCell Name="BiYoutube" Code="&lt;BiYoutube /&gt;" IconName="youtube">
            <BiYoutube />
        </BiCell>

        <BiCell Name="BiYoutube2" Code="&lt;BiYoutube2 /&gt;" IconName="youtube2">
            <BiYoutube2 />
        </BiCell>

        <BiCell Name="BiTwitch" Code="&lt;BiTwitch /&gt;" IconName="twitch">
            <BiTwitch />
        </BiCell>

        <BiCell Name="BiVimeo" Code="&lt;BiVimeo /&gt;" IconName="vimeo">
            <BiVimeo />
        </BiCell>

        <BiCell Name="BiVimeo2" Code="&lt;BiVimeo2 /&gt;" IconName="vimeo2">
            <BiVimeo2 />
        </BiCell>

        <BiCell Name="BiLanyrd" Code="&lt;BiLanyrd /&gt;" IconName="lanyrd">
            <BiLanyrd />
        </BiCell>

        <BiCell Name="BiFlickr" Code="&lt;BiFlickr /&gt;" IconName="flickr">
            <BiFlickr />
        </BiCell>

        <BiCell Name="BiFlickr2" Code="&lt;BiFlickr2 /&gt;" IconName="flickr2">
            <BiFlickr2 />
        </BiCell>

        <BiCell Name="BiFlickr3" Code="&lt;BiFlickr3 /&gt;" IconName="flickr3">
            <BiFlickr3 />
        </BiCell>

        <BiCell Name="BiFlickr4" Code="&lt;BiFlickr4 /&gt;" IconName="flickr4">
            <BiFlickr4 />
        </BiCell>

        <BiCell Name="BiDribbble" Code="&lt;BiDribbble /&gt;" IconName="dribbble">
            <BiDribbble />
        </BiCell>

        <BiCell Name="BiBehance" Code="&lt;BiBehance /&gt;" IconName="behance">
            <BiBehance />
        </BiCell>

        <BiCell Name="BiBehance2" Code="&lt;BiBehance2 /&gt;" IconName="behance2">
            <BiBehance2 />
        </BiCell>

        <BiCell Name="BiDeviantart" Code="&lt;BiDeviantart /&gt;" IconName="deviantart">
            <BiDeviantart />
        </BiCell>

        <BiCell Name="Bi500px" Code="&lt;Bi500px /&gt;" IconName="500px">
            <Bi500px />
        </BiCell>

        <BiCell Name="BiSteam" Code="&lt;BiSteam /&gt;" IconName="steam">
            <BiSteam />
        </BiCell>

        <BiCell Name="BiSteam2" Code="&lt;BiSteam2 /&gt;" IconName="steam2">
            <BiSteam2 />
        </BiCell>

        <BiCell Name="BiDropbox" Code="&lt;BiDropbox /&gt;" IconName="dropbox">
            <BiDropbox />
        </BiCell>

        <BiCell Name="BiOnedrive" Code="&lt;BiOnedrive /&gt;" IconName="onedrive">
            <BiOnedrive />
        </BiCell>

        <BiCell Name="BiGithub" Code="&lt;BiGithub /&gt;" IconName="github">
            <BiGithub />
        </BiCell>

        <BiCell Name="BiNpm" Code="&lt;BiNpm /&gt;" IconName="npm">
            <BiNpm />
        </BiCell>

        <BiCell Name="BiBasecamp" Code="&lt;BiBasecamp /&gt;" IconName="basecamp">
            <BiBasecamp />
        </BiCell>

        <BiCell Name="BiTrello" Code="&lt;BiTrello /&gt;" IconName="trello">
            <BiTrello />
        </BiCell>

        <BiCell Name="BiWordpress" Code="&lt;BiWordpress /&gt;" IconName="wordpress">
            <BiWordpress />
        </BiCell>

        <BiCell Name="BiJoomla" Code="&lt;BiJoomla /&gt;" IconName="joomla">
            <BiJoomla />
        </BiCell>

        <BiCell Name="BiEllo" Code="&lt;BiEllo /&gt;" IconName="ello">
            <BiEllo />
        </BiCell>

        <BiCell Name="BiBlogger" Code="&lt;BiBlogger /&gt;" IconName="blogger">
            <BiBlogger />
        </BiCell>

        <BiCell Name="BiBlogger2" Code="&lt;BiBlogger2 /&gt;" IconName="blogger2">
            <BiBlogger2 />
        </BiCell>

        <BiCell Name="BiTumblr" Code="&lt;BiTumblr /&gt;" IconName="tumblr">
            <BiTumblr />
        </BiCell>

        <BiCell Name="BiTumblr2" Code="&lt;BiTumblr2 /&gt;" IconName="tumblr2">
            <BiTumblr2 />
        </BiCell>

        <BiCell Name="BiYahoo" Code="&lt;BiYahoo /&gt;" IconName="yahoo">
            <BiYahoo />
        </BiCell>

        <BiCell Name="BiYahoo2" Code="&lt;BiYahoo2 /&gt;" IconName="yahoo2">
            <BiYahoo2 />
        </BiCell>

        <BiCell Name="BiTux" Code="&lt;BiTux /&gt;" IconName="tux">
            <BiTux />
        </BiCell>

        <BiCell Name="BiAppleinc" Code="&lt;BiAppleinc /&gt;" IconName="appleinc">
            <BiAppleinc />
        </BiCell>

        <BiCell Name="BiFinder" Code="&lt;BiFinder /&gt;" IconName="finder">
            <BiFinder />
        </BiCell>

        <BiCell Name="BiAndroid" Code="&lt;BiAndroid /&gt;" IconName="android">
            <BiAndroid />
        </BiCell>

        <BiCell Name="BiWindows" Code="&lt;BiWindows /&gt;" IconName="windows">
            <BiWindows />
        </BiCell>

        <BiCell Name="BiWindows8" Code="&lt;BiWindows8 /&gt;" IconName="windows8">
            <BiWindows8 />
        </BiCell>

        <BiCell Name="BiSoundcloud" Code="&lt;BiSoundcloud /&gt;" IconName="soundcloud">
            <BiSoundcloud />
        </BiCell>

        <BiCell Name="BiSoundcloud2" Code="&lt;BiSoundcloud2 /&gt;" IconName="soundcloud2">
            <BiSoundcloud2 />
        </BiCell>

        <BiCell Name="BiSkype" Code="&lt;BiSkype /&gt;" IconName="skype">
            <BiSkype />
        </BiCell>

        <BiCell Name="BiReddit" Code="&lt;BiReddit /&gt;" IconName="reddit">
            <BiReddit />
        </BiCell>

        <BiCell Name="BiHackernews" Code="&lt;BiHackernews /&gt;" IconName="hackernews">
            <BiHackernews />
        </BiCell>

        <BiCell Name="BiWikipedia" Code="&lt;BiWikipedia /&gt;" IconName="wikipedia">
            <BiWikipedia />
        </BiCell>

        <BiCell Name="BiLinkedin" Code="&lt;BiLinkedin /&gt;" IconName="linkedin">
            <BiLinkedin />
        </BiCell>

        <BiCell Name="BiLinkedin2" Code="&lt;BiLinkedin2 /&gt;" IconName="linkedin2">
            <BiLinkedin2 />
        </BiCell>

        <BiCell Name="BiLastfm" Code="&lt;BiLastfm /&gt;" IconName="lastfm">
            <BiLastfm />
        </BiCell>

        <BiCell Name="BiLastfm2" Code="&lt;BiLastfm2 /&gt;" IconName="lastfm2">
            <BiLastfm2 />
        </BiCell>

        <BiCell Name="BiDelicious" Code="&lt;BiDelicious /&gt;" IconName="delicious">
            <BiDelicious />
        </BiCell>

        <BiCell Name="BiStumbleupon" Code="&lt;BiStumbleupon /&gt;" IconName="stumbleupon">
            <BiStumbleupon />
        </BiCell>

        <BiCell Name="BiStumbleupon2" Code="&lt;BiStumbleupon2 /&gt;" IconName="stumbleupon2">
            <BiStumbleupon2 />
        </BiCell>

        <BiCell Name="BiStackoverflow" Code="&lt;BiStackoverflow /&gt;" IconName="stackoverflow">
            <BiStackoverflow />
        </BiCell>

        <BiCell Name="BiPinterest" Code="&lt;BiPinterest /&gt;" IconName="pinterest">
            <BiPinterest />
        </BiCell>

        <BiCell Name="BiPinterest2" Code="&lt;BiPinterest2 /&gt;" IconName="pinterest2">
            <BiPinterest2 />
        </BiCell>

        <BiCell Name="BiXing" Code="&lt;BiXing /&gt;" IconName="xing">
            <BiXing />
        </BiCell>

        <BiCell Name="BiXing2" Code="&lt;BiXing2 /&gt;" IconName="xing2">
            <BiXing2 />
        </BiCell>

        <BiCell Name="BiFlattr" Code="&lt;BiFlattr /&gt;" IconName="flattr">
            <BiFlattr />
        </BiCell>

        <BiCell Name="BiFoursquare" Code="&lt;BiFoursquare /&gt;" IconName="foursquare">
            <BiFoursquare />
        </BiCell>

        <BiCell Name="BiYelp" Code="&lt;BiYelp /&gt;" IconName="yelp">
            <BiYelp />
        </BiCell>

        <BiCell Name="BiPaypal" Code="&lt;BiPaypal /&gt;" IconName="paypal">
            <BiPaypal />
        </BiCell>

        <BiCell Name="BiChrome" Code="&lt;BiChrome /&gt;" IconName="chrome">
            <BiChrome />
        </BiCell>

        <BiCell Name="BiFirefox" Code="&lt;BiFirefox /&gt;" IconName="firefox">
            <BiFirefox />
        </BiCell>

        <BiCell Name="BiIE" Code="&lt;BiIE /&gt;" IconName="IE">
            <BiIE />
        </BiCell>

        <BiCell Name="BiEdge" Code="&lt;BiEdge /&gt;" IconName="edge">
            <BiEdge />
        </BiCell>

        <BiCell Name="BiSafari" Code="&lt;BiSafari /&gt;" IconName="safari">
            <BiSafari />
        </BiCell>

        <BiCell Name="BiOpera" Code="&lt;BiOpera /&gt;" IconName="opera">
            <BiOpera />
        </BiCell>

        <BiCell Name="BiFilePdf" Code="&lt;BiFilePdf /&gt;" IconName="file-pdf">
            <BiFilePdf />
        </BiCell>

        <BiCell Name="BiFileOpenoffice" Code="&lt;BiFileOpenoffice /&gt;" IconName="file-openoffice">
            <BiFileOpenoffice />
        </BiCell>

        <BiCell Name="BiFileWord" Code="&lt;BiFileWord /&gt;" IconName="file-word">
            <BiFileWord />
        </BiCell>

        <BiCell Name="BiFileExcel" Code="&lt;BiFileExcel /&gt;" IconName="file-excel">
            <BiFileExcel />
        </BiCell>

        <BiCell Name="BiLibreoffice" Code="&lt;BiLibreoffice /&gt;" IconName="libreoffice">
            <BiLibreoffice />
        </BiCell>

        <BiCell Name="BiHtmlFive" Code="&lt;BiHtmlFive /&gt;" IconName="html-five">
            <BiHtmlFive />
        </BiCell>

        <BiCell Name="BiHtmlFive2" Code="&lt;BiHtmlFive2 /&gt;" IconName="html-five2">
            <BiHtmlFive2 />
        </BiCell>

        <BiCell Name="BiCss3" Code="&lt;BiCss3 /&gt;" IconName="css3">
            <BiCss3 />
        </BiCell>

        <BiCell Name="BiGit" Code="&lt;BiGit /&gt;" IconName="git">
            <BiGit />
        </BiCell>

        <BiCell Name="BiCodepen" Code="&lt;BiCodepen /&gt;" IconName="codepen">
            <BiCodepen />
        </BiCell>

        <BiCell Name="BiSvg" Code="&lt;BiSvg /&gt;" IconName="svg">
            <BiSvg />
        </BiCell>

        <BiCell Name="BiIcoMoon" Code="&lt;BiIcoMoon /&gt;" IconName="IcoMoon">
            <BiIcoMoon />
        </BiCell>
    </div>
</div>