@page "/light"

<div class="container-fluid">
    <h3>BlazorIcons.Light</h3>
    <div class="row">
        <BiCell Name="BiHome" Code="&lt;BiHome /&gt;" IconName="home">
            <BiHome />
        </BiCell>

        <BiCell Name="BiHome2" Code="&lt;BiHome2 /&gt;" IconName="home2">
            <BiHome2 />
        </BiCell>

        <BiCell Name="BiHome3" Code="&lt;BiHome3 /&gt;" IconName="home3">
            <BiHome3 />
        </BiCell>

        <BiCell Name="BiFolderDownload" Code="&lt;BiFolderDownload /&gt;" IconName="folder-download">
            <BiFolderDownload />
        </BiCell>

        <BiCell Name="BiFolderUpload" Code="&lt;BiFolderUpload /&gt;" IconName="folder-upload">
            <BiFolderUpload />
        </BiCell>

        <BiCell Name="BiPriceTag" Code="&lt;BiPriceTag /&gt;" IconName="price-tag">
            <BiPriceTag />
        </BiCell>

        <BiCell Name="BiPriceTags" Code="&lt;BiPriceTags /&gt;" IconName="price-tags">
            <BiPriceTags />
        </BiCell>

        <BiCell Name="BiPhone" Code="&lt;BiPhone /&gt;" IconName="phone">
            <BiPhone />
        </BiCell>

        <BiCell Name="BiPhoneHangUp" Code="&lt;BiPhoneHangUp /&gt;" IconName="phone-hang-up">
            <BiPhoneHangUp />
        </BiCell>

        <BiCell Name="BiClock" Code="&lt;BiClock /&gt;" IconName="clock">
            <BiClock />
        </BiCell>

        <BiCell Name="BiClock2" Code="&lt;BiClock2 /&gt;" IconName="clock2">
            <BiClock2 />
        </BiCell>

        <BiCell Name="BiCalendar" Code="&lt;BiCalendar /&gt;" IconName="calendar">
            <BiCalendar />
        </BiCell>

        <BiCell Name="BiDownload" Code="&lt;BiDownload /&gt;" IconName="download">
            <BiDownload />
        </BiCell>

        <BiCell Name="BiUpload" Code="&lt;BiUpload /&gt;" IconName="upload">
            <BiUpload />
        </BiCell>

        <BiCell Name="BiUser" Code="&lt;BiUser /&gt;" IconName="user">
            <BiUser />
        </BiCell>

        <BiCell Name="BiUsers" Code="&lt;BiUsers /&gt;" IconName="users">
            <BiUsers />
        </BiCell>

        <BiCell Name="BiUserPlus" Code="&lt;BiUserPlus /&gt;" IconName="user-plus">
            <BiUserPlus />
        </BiCell>

        <BiCell Name="BiUserMinus" Code="&lt;BiUserMinus /&gt;" IconName="user-minus">
            <BiUserMinus />
        </BiCell>

        <BiCell Name="BiUserCheck" Code="&lt;BiUserCheck /&gt;" IconName="user-check">
            <BiUserCheck />
        </BiCell>

        <BiCell Name="BiUserTie" Code="&lt;BiUserTie /&gt;" IconName="user-tie">
            <BiUserTie />
        </BiCell>

        <BiCell Name="BiSpinner" Code="&lt;BiSpinner /&gt;" IconName="spinner">
            <BiSpinner />
        </BiCell>

        <BiCell Name="BiSpinner2" Code="&lt;BiSpinner2 /&gt;" IconName="spinner2">
            <BiSpinner2 />
        </BiCell>

        <BiCell Name="BiSpinner3" Code="&lt;BiSpinner3 /&gt;" IconName="spinner3">
            <BiSpinner3 />
        </BiCell>

        <BiCell Name="BiSpinner4" Code="&lt;BiSpinner4 /&gt;" IconName="spinner4">
            <BiSpinner4 />
        </BiCell>

        <BiCell Name="BiSpinner5" Code="&lt;BiSpinner5 /&gt;" IconName="spinner5">
            <BiSpinner5 />
        </BiCell>

        <BiCell Name="BiSpinner6" Code="&lt;BiSpinner6 /&gt;" IconName="spinner6">
            <BiSpinner6 />
        </BiCell>

        <BiCell Name="BiSpinner7" Code="&lt;BiSpinner7 /&gt;" IconName="spinner7">
            <BiSpinner7 />
        </BiCell>

        <BiCell Name="BiSpinner8" Code="&lt;BiSpinner8 /&gt;" IconName="spinner8">
            <BiSpinner8 />
        </BiCell>

        <BiCell Name="BiSpinner9" Code="&lt;BiSpinner9 /&gt;" IconName="spinner9">
            <BiSpinner9 />
        </BiCell>

        <BiCell Name="BiSpinner10" Code="&lt;BiSpinner10 /&gt;" IconName="spinner10">
            <BiSpinner10 />
        </BiCell>

        <BiCell Name="BiSpinner11" Code="&lt;BiSpinner11 /&gt;" IconName="spinner11">
            <BiSpinner11 />
        </BiCell>

        <BiCell Name="BiSearch" Code="&lt;BiSearch /&gt;" IconName="search">
            <BiSearch />
        </BiCell>

        <BiCell Name="BiKey" Code="&lt;BiKey /&gt;" IconName="key">
            <BiKey />
        </BiCell>

        <BiCell Name="BiKey2" Code="&lt;BiKey2 /&gt;" IconName="key2">
            <BiKey2 />
        </BiCell>

        <BiCell Name="BiUnlocked" Code="&lt;BiUnlocked /&gt;" IconName="unlocked">
            <BiUnlocked />
        </BiCell>

        <BiCell Name="BiBin" Code="&lt;BiBin /&gt;" IconName="bin">
            <BiBin />
        </BiCell>

        <BiCell Name="BiBin2" Code="&lt;BiBin2 /&gt;" IconName="bin2">
            <BiBin2 />
        </BiCell>

        <BiCell Name="BiMenu" Code="&lt;BiMenu /&gt;" IconName="menu">
            <BiMenu />
        </BiCell>

        <BiCell Name="BiMenu2" Code="&lt;BiMenu2 /&gt;" IconName="menu2">
            <BiMenu2 />
        </BiCell>

        <BiCell Name="BiMenu3" Code="&lt;BiMenu3 /&gt;" IconName="menu3">
            <BiMenu3 />
        </BiCell>

        <BiCell Name="BiMenu4" Code="&lt;BiMenu4 /&gt;" IconName="menu4">
            <BiMenu4 />
        </BiCell>

        <BiCell Name="BiCloudDownload" Code="&lt;BiCloudDownload /&gt;" IconName="cloud-download">
            <BiCloudDownload />
        </BiCell>

        <BiCell Name="BiCloudUpload" Code="&lt;BiCloudUpload /&gt;" IconName="cloud-upload">
            <BiCloudUpload />
        </BiCell>

        <BiCell Name="BiDownload2" Code="&lt;BiDownload2 /&gt;" IconName="download2">
            <BiDownload2 />
        </BiCell>

        <BiCell Name="BiUpload2" Code="&lt;BiUpload2 /&gt;" IconName="upload2">
            <BiUpload2 />
        </BiCell>

        <BiCell Name="BiDownload3" Code="&lt;BiDownload3 /&gt;" IconName="download3">
            <BiDownload3 />
        </BiCell>

        <BiCell Name="BiUpload3" Code="&lt;BiUpload3 /&gt;" IconName="upload3">
            <BiUpload3 />
        </BiCell>

        <BiCell Name="BiBookmark" Code="&lt;BiBookmark /&gt;" IconName="bookmark">
            <BiBookmark />
        </BiCell>

        <BiCell Name="BiBookmarks" Code="&lt;BiBookmarks /&gt;" IconName="bookmarks">
            <BiBookmarks />
        </BiCell>

        <BiCell Name="BiMinus" Code="&lt;BiMinus /&gt;" IconName="minus">
            <BiMinus />
        </BiCell>

        <BiCell Name="BiInfo" Code="&lt;BiInfo /&gt;" IconName="info">
            <BiInfo />
        </BiCell>

        <BiCell Name="BiCancelCircle" Code="&lt;BiCancelCircle /&gt;" IconName="cancel-circle">
            <BiCancelCircle />
        </BiCell>

        <BiCell Name="BiBlocked" Code="&lt;BiBlocked /&gt;" IconName="blocked">
            <BiBlocked />
        </BiCell>

        <BiCell Name="BiCross" Code="&lt;BiCross /&gt;" IconName="cross">
            <BiCross />
        </BiCell>

        <BiCell Name="BiCheckmark" Code="&lt;BiCheckmark /&gt;" IconName="checkmark">
            <BiCheckmark />
        </BiCell>

        <BiCell Name="BiCheckmark2" Code="&lt;BiCheckmark2 /&gt;" IconName="checkmark2">
            <BiCheckmark2 />
        </BiCell>

        <BiCell Name="BiPrevious" Code="&lt;BiPrevious /&gt;" IconName="previous">
            <BiPrevious />
        </BiCell>

        <BiCell Name="BiNext" Code="&lt;BiNext /&gt;" IconName="next">
            <BiNext />
        </BiCell>

        <BiCell Name="BiPrevious2" Code="&lt;BiPrevious2 /&gt;" IconName="previous2">
            <BiPrevious2 />
        </BiCell>

        <BiCell Name="BiNext2" Code="&lt;BiNext2 /&gt;" IconName="next2">
            <BiNext2 />
        </BiCell>

        <BiCell Name="BiArrowUpLeft" Code="&lt;BiArrowUpLeft /&gt;" IconName="arrow-up-left">
            <BiArrowUpLeft />
        </BiCell>

        <BiCell Name="BiArrowUp" Code="&lt;BiArrowUp /&gt;" IconName="arrow-up">
            <BiArrowUp />
        </BiCell>

        <BiCell Name="BiArrowUpRight" Code="&lt;BiArrowUpRight /&gt;" IconName="arrow-up-right">
            <BiArrowUpRight />
        </BiCell>

        <BiCell Name="BiArrowRight" Code="&lt;BiArrowRight /&gt;" IconName="arrow-right">
            <BiArrowRight />
        </BiCell>

        <BiCell Name="BiArrowDownRight" Code="&lt;BiArrowDownRight /&gt;" IconName="arrow-down-right">
            <BiArrowDownRight />
        </BiCell>

        <BiCell Name="BiArrowDown" Code="&lt;BiArrowDown /&gt;" IconName="arrow-down">
            <BiArrowDown />
        </BiCell>

        <BiCell Name="BiArrowDownLeft" Code="&lt;BiArrowDownLeft /&gt;" IconName="arrow-down-left">
            <BiArrowDownLeft />
        </BiCell>

        <BiCell Name="BiArrowLeft" Code="&lt;BiArrowLeft /&gt;" IconName="arrow-left">
            <BiArrowLeft />
        </BiCell>

        <BiCell Name="BiArrowUpLeft2" Code="&lt;BiArrowUpLeft2 /&gt;" IconName="arrow-up-left2">
            <BiArrowUpLeft2 />
        </BiCell>

        <BiCell Name="BiArrowUp2" Code="&lt;BiArrowUp2 /&gt;" IconName="arrow-up2">
            <BiArrowUp2 />
        </BiCell>

        <BiCell Name="BiArrowUpRight2" Code="&lt;BiArrowUpRight2 /&gt;" IconName="arrow-up-right2">
            <BiArrowUpRight2 />
        </BiCell>

        <BiCell Name="BiArrowRight2" Code="&lt;BiArrowRight2 /&gt;" IconName="arrow-right2">
            <BiArrowRight2 />
        </BiCell>

        <BiCell Name="BiArrowDownRight2" Code="&lt;BiArrowDownRight2 /&gt;" IconName="arrow-down-right2">
            <BiArrowDownRight2 />
        </BiCell>

        <BiCell Name="BiArrowDown2" Code="&lt;BiArrowDown2 /&gt;" IconName="arrow-down2">
            <BiArrowDown2 />
        </BiCell>

        <BiCell Name="BiArrowDownLeft2" Code="&lt;BiArrowDownLeft2 /&gt;" IconName="arrow-down-left2">
            <BiArrowDownLeft2 />
        </BiCell>

        <BiCell Name="BiArrowLeft2" Code="&lt;BiArrowLeft2 /&gt;" IconName="arrow-left2">
            <BiArrowLeft2 />
        </BiCell>

        <BiCell Name="BiCircleUp" Code="&lt;BiCircleUp /&gt;" IconName="circle-up">
            <BiCircleUp />
        </BiCell>

        <BiCell Name="BiCircleRight" Code="&lt;BiCircleRight /&gt;" IconName="circle-right">
            <BiCircleRight />
        </BiCell>

        <BiCell Name="BiCircleDown" Code="&lt;BiCircleDown /&gt;" IconName="circle-down">
            <BiCircleDown />
        </BiCell>

        <BiCell Name="BiCircleLeft" Code="&lt;BiCircleLeft /&gt;" IconName="circle-left">
            <BiCircleLeft />
        </BiCell>

        <BiCell Name="BiSortAlphaAsc" Code="&lt;BiSortAlphaAsc /&gt;" IconName="sort-alpha-asc">
            <BiSortAlphaAsc />
        </BiCell>

        <BiCell Name="BiSortAlphaDesc" Code="&lt;BiSortAlphaDesc /&gt;" IconName="sort-alpha-desc">
            <BiSortAlphaDesc />
        </BiCell>

        <BiCell Name="BiSortNumericAsc" Code="&lt;BiSortNumericAsc /&gt;" IconName="sort-numeric-asc">
            <BiSortNumericAsc />
        </BiCell>

        <BiCell Name="BiSortNumbericDesc" Code="&lt;BiSortNumbericDesc /&gt;" IconName="sort-numberic-desc">
            <BiSortNumbericDesc />
        </BiCell>

        <BiCell Name="BiSortAmountAsc" Code="&lt;BiSortAmountAsc /&gt;" IconName="sort-amount-asc">
            <BiSortAmountAsc />
        </BiCell>

        <BiCell Name="BiSortAmountDesc" Code="&lt;BiSortAmountDesc /&gt;" IconName="sort-amount-desc">
            <BiSortAmountDesc />
        </BiCell>

        <BiCell Name="BiMail" Code="&lt;BiMail /&gt;" IconName="mail">
            <BiMail />
        </BiCell>

        <BiCell Name="BiMail2" Code="&lt;BiMail2 /&gt;" IconName="mail2">
            <BiMail2 />
        </BiCell>

        <BiCell Name="BiMail3" Code="&lt;BiMail3 /&gt;" IconName="mail3">
            <BiMail3 />
        </BiCell>

        <BiCell Name="BiMail4" Code="&lt;BiMail4 /&gt;" IconName="mail4">
            <BiMail4 />
        </BiCell>
    </div>
</div>


