@using System.Web
<div class="bi-d-cell" style="@Style">
    @ChildContent
    <span class="bi-title">@Name</span>
    <span class="bi-icon-name"><span class="bi-icon-name-title">IconName:</span>@IconName</span>
    <pre>@HttpUtility.HtmlDecode(Code)</pre>
</div>
@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string IconName { get; set; }

    [Parameter]
    public string Code { get; set; }

    [Parameter]
    public int? Width { get; set; } = 280;

    private string Style => Width == null ? "" : $"width: {Width}px;";
}